<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Reply Notification</title>
</head>
<body>
   <div>
      <h3>Hello <%= name %> ,</h3>
      <p>A new reply added to your queistion in video <%= title %></p>
      <p>Please visit our website to continue our discussion.</p>
      <b>Thank you for connenting with us.</b>
   </div>
</body>
</html>